@import "dark";
@import "light";
.tile {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 100%;
  padding: $fg_padding * 1px;

  border-radius: 3px;

  @include shadow('small');
  &__header {
    display: flex;

    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid;

  }
  &__icon {
    margin-right: 10px;
  }
  &__title {
    display: flex;

    align-items: center;
  }
  &__footer {
    margin-top: auto;
  }
}
