{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <article class="post-listing" style="position: relative;">
    <div class="media-list">
      <h1 class="text--light">My Thoughts</h1>
      <ul class="media-list__items">
        {{- range first 15 (where .Data.Pages "Type" "article") -}}
        <li class="media-list__item">
          <div class="media-block">
            <header class="media-block__header">
              <time>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
              <div class="tags">
                <span class="tags__title">Tags:</span>
                {{- range .Params.tags -}}
                  <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{- end -}}
              </div>
            </header>
              <aside class="media-block__text">
                <h3 class="media-block__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Summary }}</p>
                <footer class="media-block__footer">
                  <h5 class="media-block__read-more"><a href="{{ .Permalink }}">Read more...</a></h5>
                </footer>
              </aside>
            </div>
        </li>
      {{- end -}}
      </ul>
    </div>
  </article>
{{ end }}
