.button--solid {
  color: $background-light;
  background-color: $accent-dark;
  border-color: $accent-dark;
}

.button--solid:disabled, .button--solid:hover:disabled {
  color: $background-light;
  background-color: $accent-dark;
  border-color: $accent-dark;
  opacity: 0.5;
}

.button--solid:hover {
  color: $background-light;
  background-color: darken($accent-dark, 15);
  border-color: darken($accent-dark, 15);
}

.button--solid:active {
  color: $background-light;
  background-color: darken($accent-dark, 25);
  border-color: darken($accent-dark, 25);
}

.button--solid-light {
  color: $background-dark;
  background-color: $accent-light;
  border-color: $accent-light;
}

.button--solid-light:disabled, .button--solid-light:hover:disabled {
  color: $background-dark;
  background-color: $accent-light;
  border-color: $accent-light;
  opacity: 0.5;
}

.button--solid-light:hover {
  color: $background-dark;
  background-color: lighten($accent-light, 15);
  border-color: lighten($accent-light, 15);
}

.button--solid-light:active {
  color: $background-dark;
  background-color: lighten($accent-light, 25);
  border-color: lighten($accent-light, 25);
}
