<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}styleguide/assets/toolkit/styles/toolkit.css">
    <script type="text/javascript" src="{{ .Site.BaseURL }}styleguide/assets/toolkit/scripts/toolkit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/segment-js/1.0.8/segment.js"></script>
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body class="dark">
    <!-- Code that all your templates share, like a header -->
    <header class="site-navigation">
      <nav class="site-navigation__mobile ms-nav">
        <input id="site-toggle" class="ms-nav__toggle" type="checkbox">
        <label for="site-toggle" class="ms-nav__toggle-interface"></label>
        <a class="ms-nav__logo link--icon" href="{{ .Site.BaseURL }}/">
          <svg class="icon" viewbox="0 0 350 350">
            <use xlink:href="#logo-icon"></use>
          </svg>
        </a>
        <div class="ms-nav__drawer">
          <a href="{{ .Site.BaseURL }}/about-me" class="ms-nav__link link--nav">About</a>
          <a href="{{ .Site.BaseURL }}/contact-me" class="ms-nav__link link--nav">Contact</a>
          <a href="{{ .Site.BaseURL }}/lab" class="ms-nav__link link--nav">Laboratory</a>
          <a href="{{ .Site.BaseURL }}/article" class="ms-nav__link link--nav">Thought</a>
        </div>
      </nav>

      <nav class="site-navigation__desktop ds-nav">
        <ul class="ds-nav__links">
          <li class="ds-nav__link">
            <a class="link--nav" href="{{ .Site.BaseURL }}/about-me">ABOUT</a>
          </li>
          <li class="ds-nav__link">
            <a class="link--nav" href="{{ .Site.BaseURL }}/contact-me">CONTACT</a>
          </li>
          <li class="ds-nav__link">
            <a class="link--nav ds-nav__logo link--icon" href="{{ .Site.BaseURL }}">
              <svg class="icon" viewbox="0 0 350 350">
                <use xlink:href="#logo-icon"></use>
              </svg>
            </a>
          </li>
          <li class="ds-nav__link">
            <a class="link--nav" href="{{ .Site.BaseURL }}/lab">LABORATORY</a>
          </li>
          <li class="ds-nav__link">
            <a class="link--nav" href="{{ .Site.BaseURL }}/article">THOUGHTS</a>
          </li>
        </ul>
      </nav>
    </header>
