$black: #000000;
$white: #FFFFFF;

$alto: #DCDBDB;
$masala: #3C3333;
$don-juan: #5B5252;
$piper: #D26127;
$fire-bush: #E5A92F;
$tree-poppy: #F78700;
$sin: #FFAC1A;

$background-light: $alto;
$background-dark: $masala;
$background-orange-dark: $tree-poppy;
$background-orange-light: $sin;
$text-dark: $masala;
$text-light: $alto;
$text-secondary: $don-juan;
$accent-dark: $piper;
$accent-light: $fire-bush;

$message: #337ab7;
$message-success: #5cb85c;
$message-alert: #f0ad4e;
$message-error: #d9534f;
