@font-face {
  font-family: 'Roboto';

  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;

  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;

  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;

  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;

  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;

  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;

  src: url('../fonts/roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;

  src: url('../fonts/roboto/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: 'RobotoMono';

  src: url('../fonts/roboto-mono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';

  src: url('../fonts/oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;

  src:url('../fonts/oswald/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 200;

  src:url('../fonts/oswald/Oswald-Light.ttf');
}

// @font-face {
//   font-family: 'RobotoCond';
//   font-weight: 400;
//
//   src: url('../fonts/roboto/Roboto-Condensed.ttf');
// }
//
// @font-face {
//   font-family: 'RobotoCond';
//   font-weight: 400;
//   font-style: italic;
//
//   src: url('../fonts/roboto/Roboto-CondensedItalic.ttf');
// }
//
// @font-face {
//   font-family: 'RobotoCond';
//   font-weight: 700;
//
//   src: url('../fonts/roboto/Roboto-BoldCondensed.ttf');
// }
//
// @font-face {
//   font-family: 'RobotoCond';
//   font-weight: 700;
//   font-style: italic;
//
//   src: url('../fonts/roboto/Roboto-BoldCondensedItalic.ttf');
// }
