@import 'animations';
@import 'colors';
@import 'fonts';
@import 'grid';
@import "media-queries";
@import 'shadows';

.dark {
  margin: 0;
  background-color: #3C3333;
  margin-top: 60px;
}

#icon--spritesheet {
  display: none;
}
