<style>
  .site-navigation {
    position: absolute !important;
  }
</style>
<div style="position: relative;">
  <header class="site-navigation">
    <nav class="site-navigation__mobile ms-nav">
      <input id="site-toggle" class="ms-nav__toggle" type="checkbox">
      <label for="site-toggle" class="ms-nav__toggle-interface"></label>
      <a class="ms-nav__logo link--icon" href="#">
        <svg class="icon" viewbox="0 0 350 350">
          <use xlink:href="#logo-icon"></use>
        </svg>
      </a>
      <div class="ms-nav__drawer">
        <a href="" class="ms-nav__link link--nav">About</a>
        <a href="" class="ms-nav__link link--nav">Contact</a>
        <a href="" class="ms-nav__link link--nav">Laboratory</a>
        <a href="" class="ms-nav__link link--nav">Thought</a>
      </div>
    </nav>
    <nav class="site-navigation__desktop ds-nav">
          <a class="ds__link link--nav" href="#">ABOUT</a></li>
          <a class="ds__link link--nav" href="#">CONTACT</a></li>
          <a class="ds__link ds__logo link--icon" href="#">
            <svg class="icon" viewbox="0 0 350 350">
              <use xlink:href="#logo-icon"></use>
            </svg>
          </a>
          <a class="ds__link link--nav" href="#">LABORATORY</a>
          <a class="ds__link link--nav" href="#">THOUGHTS</a>
    </nav>
  </header>
  <article class="homepage">
    <div class="tile-list">
      <ul class="tile-list__items">
        <li class="tile-list__item">
          <div class="tile--light">
            <header class="tile__header">
              <svg class="icon tile__icon" viewbox="0 0 350 350">
                <use xlink:href="#blog-icon"></use>
              </svg>
              <h2 class="tile__title">Latest Blog Post</h2>
            </header>
            <h3><a href="">My thoughts of Fabricator</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsum accusamus id velit laboriosam, commodi optio odio minima, magnam, suscipit nobis, repellat. Ratione quas, explicabo dicta eaque cum mollitia saepe!</p>
            <footer class="tile__footer"><a href="">Read more...</a></footer>
          </div>
        </li>
        <li class="tile-list__item">
          <div class="tile--light">
            <header class="tile__header">
              <svg class="icon tile__icon" viewbox="0 0 350 350">
                <use xlink:href="#blog-icon"></use>
              </svg>
              <h2 class="tile__title">Latest Blog Post</h2>
            </header>
            <h3><a href="">My thoughts of Fabricator</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ipsum, possimus nihil impedit repudiandae soluta praesentium fuga, nostrum exercitationem, saepe quis molestias, eveniet nemo ipsam iste tempora officia commodi.</p>
            <footer class="tile_  _footer"><a href="">Read more...</a></footer>
          </div>
        </li>
        <li class="tile-list__item">
          <div class="tile--dark">
            <header class="tile__header">
              <svg class="icon tile__icon" viewbox="0 0 350 350">
                <use xlink:href="#blog-icon"></use>
              </svg>
              <h2 class="tile__title">Latest Blog Post</h2>
            </header>
            <h3><a href="">My thoughts of Fabricator</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, fugit quam veritatis, aperiam amet, excepturi expedita dolores commodi illum, ea iste velit voluptatibus ratione a laudantium sapiente vitae repudiandae blanditiis?</p>
            <footer class="tile_  _footer"><a href="">Read more...</a></footer>
          </div>
        </li>
        <li class="tile-list__item">
          <div class="tile--dark">
            <header class="tile__header">
              <svg class="icon tile__icon" viewbox="0 0 350 350">
                <use xlink:href="#blog-icon"></use>
              </svg>
              <h2 class="tile__title">Latest Blog Post</h2>
            </header>
            <h3><a href="">My thoughts of Fabricator</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id, ut. Sed debitis nam, quae delectus modi inventore optio, repudiandae doloremque molestiae vitae, dolorum quis velit repellat maxime ut. Odit.</p>
            <footer class="tile__footer"><a href="">Read more...</a></footer>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <footer class="site-footer">
    <section class="site-footer__full">
      <h3 class="alternate-text">My Goals:</h3>
      <hr class="hr--dark"/>
    </section>
      <section id="objectives" class="site-footer__objectives">
      </section>
    <section class="site-footer__copyright">
      <hr class="hr--dark"/>
      <h5 class="alternate-text">This site was developer and designed by Shawn Mealey - Macromealey &copy;2017</h5>
    </section>
  </footer>
</div>
