<style>
  .site-navigation {
    position: relative;
    width: 100%;
  }
</style>
<div style="position: relative; width: 100%;">
  <header class="site-navigation">
    <nav class="site-navigation__mobile ms-nav">
      <input id="site-toggle" class="ms-nav__toggle" type="checkbox">
      <label for="site-toggle" class="ms-nav__toggle-interface"></label>
      <a class="ms-nav__logo link--icon" href="#">
        <svg class="icon" viewbox="0 0 350 350">
          <use xlink:href="#logo-icon"></use>
        </svg>
      </a>
      <div class="ms-nav__drawer">
        <a href="" class="ms-nav__link link--nav">About</a>
        <a href="" class="ms-nav__link link--nav">Contact</a>
        <a href="" class="ms-nav__link link--nav">Laboratory</a>
        <a href="" class="ms-nav__link link--nav">Thought</a>
      </div>
    </nav>
    <nav class="site-navigation__desktop ds-nav">
      <ul class="ds-nav__links">
        <li class="ds-nav__link">
          <a class="link--nav" href="#">ABOUT</a>
        </li>
        <li class="ds-nav__link">
          <a class="link--nav" href="#">CONTACT</a>
        </li>
        <li class="ds-nav__link">
          <a class="ds-nav__logo link--icon" href="#">
            <svg class="icon" viewbox="0 0 350 350">
              <use xlink:href="#logo-icon"></use>
            </svg>
          </a>
        </li>
        <li class="ds-nav__link">
          <a class="link--nav" href="#">LABORATORY</a>
        </li>
        <li class="ds-nav__link">
          <a class="link--nav" href="#">THOUGHTS</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<article class="post-listing" style="position: relative; margin-top: -6px;">
  <div class="media-list">
    <ul class="media-list__items">
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, quas, nisi. Magnam dicta eius laudantium sit architecto ex, cum eum deleniti, nam mollitia temporibus, sunt velit dolorum optio modi. Error.</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ab tenetur praesentium non autem architecto, ea explicabo pariatur repellendus laborum maxime ut nulla quasi repudiandae sapiente nobis deserunt temporibus maiores!</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis dicta, deserunt unde, est temporibus tempora placeat ad voluptate eaque accusamus inventore incidunt natus provident fugit id totam, accusantium sapiente hic?</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 4</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, aspernatur, porro. Atque beatae dignissimos porro perspiciatis labore ad modi quos dolorem fugiat, distinctio possimus sapiente, sequi, tenetur ullam dicta debitis?</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 5</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus beatae modi possimus aliquam quisquam error autem deserunt soluta ut rerum? Ab aliquam officia adipisci perspiciatis asperiores voluptate in provident commodi.</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
      <li class="media-list__item">
        <div class="media-block"><a href="" class="media-block__link">
            <img src="http://placehold.it/150" alt="">
            <aside class="media-block__text">
              <h3 class="media-block__title">Blog Post 6</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis explicabo porro magnam odio animi minima sit ea, dignissimos similique, expedita voluptatem quam. Repellat veritatis aliquid nemo distinctio nulla odit a.</p>
              <h5 class="media-block__read-more">Read more...</h5>
            </aside>
          </a></div>
      </li>
    </ul>
  </div>
</article>
<footer class="site-footer">
  <section class="site-footer__full">
    <h3 class="alternate-text">My Goals:</h3>
    <hr class="hr--dark"/>
  </section>
    <section id="objectives" class="site-footer__objectives">
    </section>
  <section class="site-footer__copyright">
    <hr class="hr--dark"/>
    <h5 class="alternate-text">This site was developer and designed by Shawn Mealey - Macromealey &copy;2017</h5>
  </section>
</footer>
