.tags {
  display: flex;
  align-items: center;
  &__title {
    margin: 0;
    font-family: "Oswald";
    font-weight: 200;
  }
  > * {
    margin-left: ($fg_padding * 1px);
    &:first-child {
      margin-left: 0;
    }
  }
  > a {
    color: $text-light;
    background-color: $accent-dark;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 0;
    &:before {
      display: none;
    }
  }
}
