@import "inline";
@import "headings";
@import "link";
@import "paragraph";

/*Primary*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px
}

abbr, acronym, b, bdo, big, br, cite, dfn, em, figcaption, h1, h2, h3, h4, h5, h6, i, img,
kbd, label, map, object, p, q, strong, small, sub, sup, time, tt, var {
  color: $text-dark;
}

figcaption, legend {
  font-family: 'Roboto';
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

blockquote {
  margin: ($fg_gutter * 1px);
  border-left: 10px solid $accent-light;
  background-color: darken($background-light, 10%);
  color: $text-secondary;
  position: relative;
  padding: 60px ($fg_padding * 1px) 30px 30px;
  @include shadow('small');
  font-style: italic;
  font-family: "Oswald";
  font-weight: 100;
  &::before {
    display: block;
    content: "\201C";
    color: $text-dark;
    font-size: 80px;
    font-family: 'Oswald';
    position: absolute;
    top: 0px;
    left: 10px;
  }
  &::after {
    display: block;
    content: "\201D";
    color: $text-dark;
    font-size: 80px;
    font-family: 'Oswald';
    position: absolute;
    bottom: -50px;
    right: 30px;
  }
  hr {
    @extend .hr--dark;
  }
}

code {
  background-color: darken($background-light, 10%);
  border-radius: 5px;
  padding: 0 4px
}

.alternate-text {
  color: $accent-dark;
}

.text--light {
  color: $text-light;
}
