%link {
  position: relative;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  padding-bottom: 5px;
  margin-bottom: -10px;

  text-decoration: none;

  font-family: 'Roboto';
  font-weight: bold;
  &:before {
    position: absolute;
    bottom: 3px;
    left: 0;
    display: block;

    width: 100%;
    height: 1px;

    content: "";
    transition: color 0.25s ease-in, background-color 0.25s ease-in, transform 0.25s ease-in;
    transform: translateY(5px);

    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    &:before {
      transform: translateY(0px);
    }
  }
}




h1, h2, h3, h4, h5, h6 {
  a, .link--dark, .link--light {
    padding-bottom: 0;
    margin-bottom: 0.5em;

    font-family: 'Oswald';
    font-weight: lighter;
  }
}

a, .link--dark {
  transition: color 0.25s ease-in;

  color: $accent-dark;

  @extend %link;

  &:hover {
    color: lighten($accent-dark, 8%);
  }

  &:before {
    background-color: lighten($accent-dark, 8%);
  }
}

.link--light {
  transition: color 0.25s ease-in;

  color: $background-orange-dark;

  @extend %link;

  &:hover {
    color: lighten($background-orange-dark, 8%);
  }

  &:before {
    background-color: lighten($background-orange-dark, 8%);
  }
}

.link--icon {
  display: flex;

  padding: 0;
  margin-bottom: 0;

  align-content: center;
}

.link--nav {
  ::before {
    bottom: 15px;

    transition: color 0.15s ease-in, background-color 0.15s ease-in, transform 0.15s ease-in;
    transform: translateY(20px);
  }
}

.link--icon {
  &:hover::before {
    display: none;
  }
  svg {
    height: 53px;
  }
}

.link--nav {
  overflow: hidden;

  padding: 5px 0;
  margin-bottom: 0;

  text-transform: uppercase;

  color: $text-light;

  font-family: "Oswald";


  &:hover {
    color: lighten($text-light, 8%);
  }
}
