.overlay {
  padding: $fg_padding * 1px;
  background-color: $background-orange-dark;
  color: $text-dark;
  border-radius: 5px;
  &__header {
    padding-bottom: ($fg_padding * 1px);
  }
}

.close-icon {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../images/CloseIconDark.svg');
  margin-left: auto;
}
