{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <section class="tile">
    <h1 class="tile__title">Latest Expiriment</h1>
    {{- range first 1 (where .Data.Pages "Type" "lab") -}}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{- if .Params.thumbnail -}}
        <img src="{{ .Params.thumbnail }}" />
      {{- end -}}
      <article>
        {{ .Summary }}
        <footer class="tile__footer">
          <a href="{{ .Permalink }}">Read More...</a>
        </footer>
      </article>
    {{- end -}}
  </section>
  <section class="tile">
    <h1 class="tile__title">Latest Blog Post</h1>
    {{- range first 1 (where .Data.Pages "Type" "article") -}}
      {{- if eq .Type "article" }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <article>
          {{ .Summary }}
          <footer class="tile__footer">
            <a href="{{ .Permalink }}">Read More...</a>
          </footer>
        </article>
      {{- end -}}
    {{- end }}
  </section>
  <section class="tile tile--centered">
    <h1 class="tile__title">About Me</h1>
    <img />
    <p>My name is Shawn Mealey, and I am a Front End Engineer over at Rockets of Awesome!</p>
    <footer class="tile__footer">
      <a href="#">Read More...</a>
    </footer>
  </section>
  <section class="tile tile--centered">
    <h1 class="tile__title">Contact Me</h1>
    <form action="mailto:macromealey@gmail.com" method="post">
      <input type="text" name="name" placeholder="Your Name..."/>
      <input type="text" name="mail" placeholder="Your Email..."/>
      <textarea name="comment" rows="8" cols="40" placeholder="Your Message..."></textarea>
      <input type="submit" value="Send">
    </form>
  </section>
{{ end }}
