{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <article class="post-listing" style="position: relative;">
    <div class="media-list">
      <h1 class="text--light">Taxonomy - {{ .Title }}</h1>
      <ul class="media-list__items">
      {{ range .Data.Pages }}
        <li class="media-list__item">
          <div class="media-block">
            <header class="media-block__header">
              <h5 class="media-block__date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h5>
              <div class="media-block__tags">
                <h5 class="media-block__tags-title">Tags:</h5>
                {{- range .Params.tags -}}
                  <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{- end -}}
              </div>
            </header>
              <aside class="media-block__text">
                <h3 class="media-block__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Summary }}</p>
                <footer class="media-block__footer">
                  <h5 class="media-block__read-more"><a href="{{ .Permalink }}">Read more...</a></h5>
                </footer>
              </aside>
            </div>
        </li>
        {{- end -}}
        </ul>
      </div>
    </article>
  {{ end }}
