@mixin shadow($size: null) {
  @if ($size == 'small') {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  } @if($size == 'large') {
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  } @else {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  }
}
